# BSC Configuration
BSC_RPC_URL="https://bsc-dataseed.binance.org/"
BSC_PRIVATE_KEY_1="REPLACE_WITH_YOUR_BSC_PRIVATE_KEY"

# Solana Configuration
SOL_RPC_URL="https://api.mainnet-beta.solana.com"
SOL_PRIVATE_KEY_1="REPLACE_WITH_YOUR_SOL_PRIVATE_KEY"

# Optional Jito Config
JITO_RPC_URL="https://mainnet.block-engine.jito.wtf/api/v1/bundles"
